body{
    background-color: #ccd9ff;
}
.form-control{
    margin-top: 20px;
}
.btn{
    margin-top: 18px;
}
.table{
    background-color: white;
    margin-top: 36px;
}
.well{
    margin-top: 240px;
}
.table-responsive{
    margin-top: 220px;
}
.no_record{
    margin-top: 290px;
}
.invalid{
    margin-top: 18px;
}